.navbar-brand{
	display: inline-flex !important;
}

.navbar-brand .imgprofile{
	position: relative;
    width: 36px;
    height: 36px;
    display: inline-flex;
    margin-right: 0.25rem;
}

.navbar-brand .imgprofile img{
	    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.navbar-brand .imgprofile #fotoPerfil{
	opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar-brand h5{
	display: inline-flex;
    align-self: center;
}
